/* CSS RESET */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

/* NAVIGATION */
.navbar {
  width: 100%;
  padding: 2.2rem 1.8rem;
  margin: 0 auto;
  height: 10rem;
  display: flex;
  justify-content: space-between;
}

.navbar div {
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar .nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #333;
  padding: 0 .75rem;
}

.navbar .nav-link:hover {
  text-decoration: underline;
}

.navbar .sign-in-btn {
  background: #4583EB;
  padding: .9rem 1.2rem;
  color: #F2f2f2;
  font-weight: bolder;
}

/* MAIN CONTENT | GOOGLE LOGO | SEARCH BOX | BUTTONS */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45%;
}

.google-logo {
  display: block;
  margin-top: 10rem;
  margin-bottom: 2.7rem;
}

.search-container {
  width: 75%;
  text-align: center;
  /* margin: 0 auto; */
  margin-bottom: 3rem;
}

.search-container i {
  position: absolute;
}

.search-icon {
  padding: 1.6rem;
  color: rgb(163, 163, 163);
  width: 10rem;
  font-size: 1.4rem;
  text-align: left;
}

.search-field {
  /* width: 47%; */
  max-width: 60rem;
  width: 100%;
  /* display: inline-block; */
  /* margin: 0 auto; */
  padding: 1.3rem;
  font-size: 1.6rem;
  border: none;
  border: solid 2px #eee;
  border-radius: 100px; 
  text-indent: 3rem;
}

.search-field:hover {
  box-shadow: 0px 1px 4px 2px #eee;
}

button {
  margin: 0 .75rem;
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  border: none;
  color: #5F6368;
  background-color: #F2F2F2;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0 1.5px rgb(216, 216, 216);
  /* color: #3d3d3d; */
  color: #5F6368;;
  background-color: #f7f7f7;
  /* border: solid 2px rgb(216, 216, 216); */
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  background-color: #F2F2F2;
  width: 100%;
}

.footer {
  height: 4.2rem;
  /* padding: 0 2rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer div {
  display: flex;
}

.footer li {
  list-style: none;
}

.footer .footer-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #5F6368;
  padding: 0 1.2rem;
}

.footer-link:hover {
  text-decoration: underline;
}

/* MEDIA QUERIES ~RESPONSIVE DESIGN~ */

@media screen and (max-width: 600px) {
  .navbar .nav-link {
    font-size: 90%;
  }
  
  .footer {
    height: 7rem;
    padding: 4rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
  }

  .footer div:first-of-type {
    margin-bottom: 1rem;
  }

  .footer .footer-link {
    font-size: 1.2rem;
  }
}